*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:poppins;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #060a1f;
}
.clock h2{
    position: relative;
    display: block;
    color: white;
    text-align: center;
    margin: 10px 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing:.4em ;
}
.clock .time{
    display: flex;
}
.clock .time div{
    position: relative;
    margin: 0 5px;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0002);
}
.clock .time div span{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 120px;
    background-color: #2196f3;
    color: white;
    font-weight: 300;
    font-size: 4.5em;
    z-index: 10;
    box-shadow: 0 0 0 1px rgba(0,0,0,.2);
    font-family: system-ui;
}
.clock .time div span:nth-child(2){
    height: 30px;
    font-size: 1em;
    letter-spacing: .2em;
    font-weight: 400;
    z-index: 9;
    box-shadow: none;
    background-color: #127fd6;
    text-transform: uppercase;
}
.clock .time div:nth-child(3) span{
    background-color: #ff006a;
}
.clock .time div:nth-child(3) span:nth-child(2){
    background-color: #ec0062;
}
.clock .time div:nth-child(4) span{
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 60px;
    font-size: 1.5em;
    font-weight: 400;
    background-color: white;
    color: black;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0002);
}
